@media (min-width: 801px) and (max-width: 1025px) {

    .titulo-painel-administracao {
        font-size: 12px;
        margin-bottom: 20px;
        gap: 10px;
    }
    
    .img-titulo-painel-administracao {
        width: 25px;
        height: 25px;
    }
    
    .seta{
        width: 20px;
    }
    
    .container-produtos-cadastrados {
        padding: 15px;
    }
    
    .painel-administracao {
        padding: 20px 15px;
    }
    
    .btn-cadastrar {
        font-size: 15px;
    }
    
    .atualizar-tabela p {  
        font-size: 15px;
    }
    
    .titulo-tabela {
        font-size: 12px;
    }

    .img-titulo-tabela {
        width: 27px;
        height: 27px;
    }

}


@media (min-width: 601px) and (max-width: 801px) {

    .titulo-painel-administracao {
        font-size: 12px;
        margin-bottom: 20px;
        gap: 10px;
    }
    
    .img-titulo-painel-administracao {
        width: 22px;
        height: 22px;
    }
    
    .seta{
        width: 20px;
    }
    
    .container-produtos-cadastrados {
        padding: 15px;
    }
    
    .painel-administracao {
        padding: 15px;
    }
    
    .btn-cadastrar {
        font-size: 13px;
    }

    .btn-cadastrar svg {
        width: 22px;
    }
    
    .pesquisar-produto-cadastrado input {
        width: 240px;
        font-size: 13px;
    }
    
    .atualizar-tabela {
        display: none;
    }

    .atualizar-tabela-mobile {
        display: flex;
    }

    .atualizar-tabela-mobile svg {
        width: 22px;
    }
    
    .titulo-tabela {
        font-size: 12px;   
    }

    .img-titulo-tabela {
        width: 25px;
        height: 25px;
    }

}


@media (min-width: 481px) and (max-width: 601px) {

    .titulo-painel-administracao {
        font-size: 11px;
        margin-bottom: 15px;
        gap: 10px;
    }
    
    .img-titulo-painel-administracao {
        width: 20px;
        height: 20px;
    }
    
    .seta{
        width: 18px;
    }
    
    .container-produtos-cadastrados {
        padding: 10px;
    }
    
    .painel-administracao {
        padding: 15px;
        border-radius: 15px;
    }

    .painel-administracao-cadastro {
        gap: 15px;
    }
    
    .pesquisar-produto-cadastrado {
        border-radius: 10px;
        margin-left: 0px;
    }
    
    .pesquisar-produto-cadastrado input {
        padding: 3px 10px;
        font-size: 13px;
    }
    
    .botao-de-pesquisar {
        padding: 8px 10px;
        border-radius: 0px 10px 10px 0px; 
    }
    
    .botao-de-pesquisar svg {
        width: 20px;
    }
    
    .botao-apagar-pesquisa {
        padding: 8px 10px;
        border-radius: 0px 10px 10px 0px;
    }
    
    .botao-apagar-pesquisa svg {
        width: 20px;
    }
    
    .btn-cadastrar {
        display: none;
    }
    
    .btn-cadastrar-mobile {
        display: flex;
        font-size: 13px;
        padding: 8px 12px 8px 8px;
        margin-right: 0px;
    }

    .btn-cadastrar-mobile svg {
        width: 22px;
    }

    .atualizar-tabela {
        display: none;
    }

    .atualizar-tabela-mobile {
        display: flex;
        padding: 8px;
        margin: 0px;
    }

    .atualizar-tabela-mobile svg {
        width: 22px;
    }
    
    .titulo-tabela {
        font-size: 11px;   
    }

    .img-titulo-tabela {
        width: 23px;
        height: 23px;
    }

}


@media (min-width: 431px) and (max-width: 481px) {

    .titulo-painel-administracao {
        font-size: 10px;
        margin-bottom: 15px;
        gap: 5px;
    }
    
    .img-titulo-painel-administracao {
        width: 18px;
        height: 18px;
    }
    
    .seta{
        width: 15px;
    }
    
    .container-produtos-cadastrados {
        padding: 10px;
    }
    
    .painel-administracao {
        padding: 12px;
        border-radius: 15px;
    }

    .painel-administracao-cadastro {
        gap: 10px;
    }
    
    .pesquisar-produto-cadastrado {
        border-radius: 10px;
        margin-left: 0px;
    }
    
    .pesquisar-produto-cadastrado input {
        padding: 3px 10px;
        font-size: 12px;
    }
    
    .botao-de-pesquisar {
        padding: 6px 8px;
        border-radius: 0px 10px 10px 0px; 
    }
    
    .botao-de-pesquisar svg {
        width: 18px;
    }
    
    .botao-apagar-pesquisa {
        padding: 6px 8px;
        border-radius: 0px 10px 10px 0px;
    }
    
    .botao-apagar-pesquisa svg {
        width: 18px;
    }

    .btn-cadastrar {
        display: none;
    }
    
    .btn-cadastrar-mobile {
        display: flex;
        font-size: 12px;
        padding: 6px 10px 6px 6px;
        margin-right: 0px;
    }

    .btn-cadastrar-mobile svg {
        width: 18px;
    }
    
    .atualizar-tabela {
        display: none;
    }

    .atualizar-tabela-mobile {
        display: flex;
        padding: 6px 8px;
        margin: 0px;
    }

    .atualizar-tabela-mobile svg {
        width: 18px;
    }
    
    .titulo-tabela {
        font-size: 9px;   
    }

    .img-titulo-tabela {
        width: 20px;
        height: 20px;
    }

}


@media (min-width: 376px) and (max-width: 431px) {

    .titulo-painel-administracao {
        font-size: 8px;
        margin-bottom: 10px;
        gap: 5px;
    }
    
    .img-titulo-painel-administracao {
        width: 17px;
        height: 17px;
    }
    
    .seta{
        width: 12px;
    }
    
    .container-produtos-cadastrados {
        padding: 10px;
    }
    
    .painel-administracao {
        padding: 12px;
        border-radius: 10px;
    }

    .painel-administracao-cadastro {
        gap: 0px;
    }
    
    .pesquisar-produto-cadastrado {
        border-radius: 6px;
        margin-left: 10px;
    }
    
    .pesquisar-produto-cadastrado input {
        padding: 3px 10px;
        font-size: 12px;
    }
    
    .botao-de-pesquisar {
        padding: 5px 8px;
        border-radius: 0px 6px 6px 0px; 
    }
    
    .botao-de-pesquisar svg {
        width: 16px;
    }
    
    .botao-apagar-pesquisa {
        padding: 5px 8px;
        border-radius: 0px 6px 6px 0px;
    }
    
    .botao-apagar-pesquisa svg {
        width: 16px;
    }
    
    .atualizar-tabela {
        display: none;
    }
    
    .atualizar-tabela-mobile {
        display: none;
    }
    
    .btn-cadastrar {
        display: none;
    }
    
    .btn-cadastrar-mobile {
        display: flex;
        font-size: 12px;
        padding: 5px 10px 5px 5px;
        margin-right: 0px;
        border-radius: 5px;
    }

    .btn-cadastrar-mobile svg {
        width: 18px;
    }
    
    .titulo-tabela {
        font-size: 7px;   
    }

    .img-titulo-tabela {
        width: 17px;
        height: 17px;
    }

}


@media (min-width: 320px) and (max-width: 376px) {

    .titulo-painel-administracao {
        font-size: 8px;
        margin-bottom: 10px;
        gap: 5px;
    }

    .img-titulo-painel-administracao {
        width: 16px;
        height: 16px;
    }
    
    .seta{
        width: 12px;
    }
    
    .container-produtos-cadastrados {
        padding: 10px;
    }

    .painel-administracao {
        padding: 10px;
        border-radius: 10px;
    }

    .painel-administracao-cadastro {
        gap: 0px;
    }
    
    .pesquisar-produto-cadastrado {
        border-radius: 6px;
        margin-left: 10px;
    }
    
    .pesquisar-produto-cadastrado input {
        padding: 3px 10px;
        font-size: 10px;
    }
    
    .botao-de-pesquisar {
        padding: 4px 8px;
        border-radius: 0px 6px 6px 0px; 
    }
    
    .botao-de-pesquisar svg {
        width: 16px;
    }
    
    .botao-apagar-pesquisa {
        padding: 4px 8px;
        border-radius: 0px 6px 6px 0px;
    }
    
    .botao-apagar-pesquisa svg {
        width: 16px;
    }
    
    .atualizar-tabela {
        display: none;
    }
    
    .atualizar-tabela-mobile {
        display: none;
    }

    .btn-cadastrar {
        display: none;
    }
    
    .btn-cadastrar-mobile {
        display: flex;
        font-size: 10px;
        padding: 4px 9px 4px 4px;
        margin-right: 0px;
        border-radius: 5px;
    }

    .btn-cadastrar-mobile svg {
        width: 17px;
    }
    
    .titulo-tabela {
        font-size: 7px;   
    }

    .img-titulo-tabela {
        width: 17px;
        height: 17px;
    }


}