.container-produtos-cadastrados {
    display: flex;
    justify-content: center;
}

table {
    background-color: white;
}

p {
    margin: 0px;
}

.cabecalho-tabela {
    background-color: #94c0ff;
}

.informacao-tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.corpo-tabela:nth-child(even) {
    background-color:#77b0ff6e;
}

.dado-produto {
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.dado-produto-centralizado {
    text-align: center;
}




.container-cadastrar {
    display: flex;
    justify-content: center;
    padding: 20px;
}




/* MODAL */

.btn-cadastrar {
    display: inline-block;
    background-color: rgb(0, 255, 0);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;  
}

.modal-cadastrar-produto {
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: animacao;
    animation-duration: 1s;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid blue;
}

.btn-fechar-modal-cadastrar-produto {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    padding: 5px;
    float: right;
    cursor: pointer;
}

@keyframes animacao {
    from {
        opacity: 500ms;
    }
    
    from {
        opacity: 0;
    }
}

.formulario-cadastro {
    display: flex;
    flex-direction: column;
}

.titulo-formulario-cadastrar-produto h1{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00007b;
    margin-bottom: 15px;
    font-size: 25px;
    text-align: center;
}

.titulo-formulario-cadastrar-produto p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

.formulario-dados {
    position: relative;
    margin: 10px 0px;
}

.formulario-dados label {
    position: absolute;
    left: 0;
    bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-formulario {
    width: 100%;
    border: none;
    border-bottom: 1px solid blue;
    padding: 5px;
}

.formulario-cadastro .formulario-dados .input-formulario:focus ~ label {
    transform: translateY(-22px);
    font-size: 14px ;
}






