* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-produtos-cadastrados {
    display: flex;
    justify-content: center;
}

table {
    background-color: white;
}

p {
    margin: 0px;
}

.cabecalho-tabela {
    background-color: #94c0ff;
}

.informacao-tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.corpo-tabela:nth-child(even) {
    background-color:#77b0ff6e;
}

.dado-produto {
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.dado-produto-centralizado {
    text-align: center;
}




.container-cadastrar {
    display: flex;
    justify-content: center;
    padding: 20px;
}




/* MODAL */

.btn-cadastrar {
    display: inline-block;
    background-color: rgb(0, 255, 0);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;  
}

.fundo-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(2px);
    display: none;
    animation: animacao;
    animation-duration: 1s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-cadastrar-produto {
    background-color: #ffffff;
    position: relative;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid blue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-fechar-modal-cadastrar-produto {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(12px, -18px);
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid blue;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
}

@keyframes animacao {
    from {
        opacity: 500ms;
    }
    
    from {
        opacity: 0;
    }
}

.formulario-cadastro {
    display: flex;
    flex-direction: column;
}

.titulo-formulario-cadastrar-produto h1{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #008702;
    margin-bottom: 15px;
    font-size: 25px;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.51);
    padding: 10px;
    border-radius: 20px;
}

.titulo-formulario-cadastrar-produto p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

.formulario-dados {
    position: relative;
    margin: 10px 0px;
}

.formulario-dados label {
    position: absolute;
    left: 0;
    bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario-dados-categoria {
    display: flex;
    gap: 10px;
}

.formulario-dados-categoria p {
    font-family: Arial, Helvetica, sans-serif;
}

.formulario-dados-img {
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 0px;
}

.formulario-dados-img p {
    margin-bottom: 8px;
}

.input-formulario {
    width: 100%;
    border: none;
    border-bottom: 1px solid blue;
    padding: 5px;
}

.formulario-cadastro .formulario-dados .input-formulario:focus ~ label {
    transform: translateY(-22px);
    font-size: 14px ;
}

.btn-formulario-salvar-c {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-formulario-salvar {
    background-color: #00ff048b;
    color: #008702;
    padding: 8px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    font-size: 18px;
}






