* {
    margin: 0px;
    padding: 0px;
}

.container-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formulario-cadastro {
    background-color: rgb(190, 238, 255);
    padding: 20px;
    border-radius: 20px;
}

.formulario-dados {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-formulario-salvar button {
    background-color: rgb(0, 255, 0);
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}