/* MODAL CADASTRAR*/

.fundo-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(2px);
    display: none;
    animation: animacao;
    animation-duration: 1s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99;
}

.modal-cadastrar-produto {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #005d00;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-fechar-modal-cadastrar-produto {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(8px, -10px);
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 156, 156);
    border: 1px solid #ff0000;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes animacao {
    from {
        opacity: 500ms;
    }
    
    from {
        opacity: 0;
    }
}

.formulario-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titulo-formulario-cadastrar-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background-color: #48ce48;
    border-radius: 10px;
}

.titulo-formulario-cadastrar-produto h1 {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 25px;
    padding:10px; 
}

.header-formulario-cadastrar-produto p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}



.formulario-dados-linha-1 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cadastro-produto-nome {
    width: 70%;
}

.cadastro-produto-preco {
    width: 30%;
}

.cadastro-produto-tipo-dado {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cadastro-produto-tipo-dado svg {
    width: 20px;
    height: 20px;
}

.cadastro-produto-dado input {
    width: 100%;
    padding: 2px 5px;
}

.cadastro-produto-dado-estoque {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.btn-decrementar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border: 1px solid black;
    padding: 3px 10px;
    background-color: #fff;
    
}

.visualizador-estoque {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-acrescentar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border: 1px solid black;
    padding: 3px 10px;
    background-color: #fff;
}


.formulario-dados-linha-2 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.cadastro-produto-marca {
    width: 50%;
}

.cadastro-produto-estoque {
    width: 20%;
}

.cadastro-produto-categoria {
    width: 30%;
}

.cadastro-produto-dado select {
    width: 100%;
}


.formulario-dados-linha-3 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.cadastro-produto-quantidade {
    width: 30%;
}

.cadastro-produto-imagem {
    width: 40%;
}

.cadastro-produto-validade {
    width: 30%;
}


.formulario-dados-linha-4 {
    width: 100%;
}

.cadastro-produto-dado textarea {
    width: 100%;
    resize: none;
    padding: 2px 5px;
}



.btn-formulario-salvar-c {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-formulario-salvar {
    background-color: #48ce48;
    color: #ffffff;
    padding: 8px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}


/* MODAL VISUALIZAR */

.fundo-modal-visualizar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(2px);
    display: none;
    animation: animacao;
    animation-duration: 1s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btn-fechar-modal-visualizar-produto {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(8px, -10px);
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 156, 156);
    border: 1px solid #ff0000;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-visualizar-produto {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 15px;
}

.titulo-modal-visualizar-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #35aeff;
    margin-bottom: 15px;
    border-radius: 10px;
}

.titulo-modal-visualizar-produto h1 {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
    padding:10px; 

}




.modal-informacoes-linha-1-c {
    width: 100%;
    display: flex;
    gap: 10px;
}

.modal-informacoes-linha-1 {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-informacoes-linha-1-divisao-1 {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 5px;
}

.modal-informacoes-linha-1-divisao-2 {
    display: flex;
    width: 100%;
    gap: 10px;
}

.informacoes-produtos-id {
    width: 30%;
}

.informacoes-produtos-preco {
    width: 70%;
}

.informacoes-produtos-img {
    width: 25%;
    
}

.informacoes-produtos-categoria {
    width: 50%;
}

.informacoes-produtos-quantidade {
    width: 50%;
}

.informacoes-produtos-tipo-dado {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.informacoes-produtos-tipo-dado h2 {
    font-size: 15px;
}

.informacoes-produtos-tipo-dado svg {
    width: 20px;
    height: 20px;
}

.informacoes-produtos-dado {
    background-color: #cbecff;
    padding: 5px;
    border-radius: 5px;
}

.informacoes-produtos-dado-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbecff;
    padding: 10px 0px;
    border-radius: 5px;
    height: 80%;
}

.informacoes-produtos-dado-img img {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
}


.modal-informações-linha-2-c {
    width: 100%;
    display: flex;
    gap: 10px;
}

.informacoes-produtos-nome {
    width: 80%;
}

.informacoes-produtos-estoque {
    width: 20%;
}


.modal-informações-linha-3-c {
    width: 100%;
    display: flex;
    gap: 10px;
}

.informacoes-produtos-validade {
    width: 50%;
}

.informacoes-produtos-marca {
    width: 50%;
}


.informacoes-produtos-dado-descricao {
    background-color: #cbecff;
    padding: 10px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 5px;
}

.informacoes-produtos-dado-descricao::-webkit-scrollbar {
    overflow: hidden;
}



/* MODAL EDITAR */

.fundo-modal-editar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(2px);
    display: none;
    animation: animacao;
    animation-duration: 1s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btn-fechar-modal-editar-produto {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(8px, -10px);
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 156, 156);
    border: 1px solid #ff0000;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.titulo-formulario-editar-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background-color: #e1bf00;
    border-radius: 10px;
}

.titulo-formulario-editar-produto h1 {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 25px;
    padding: 10px; 
}

/* MODAL DELETAR */


.fundo-modal-deletar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(2px);
    display: none;
    animation: animacao;
    animation-duration: 1s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btn-fechar-modal-deletar-produto {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(8px, -10px);
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 156, 156);
    border: 1px solid #ff0000;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-formulario-deletar-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background-color: #ff0000;
    border-radius: 10px;
}

.titulo-formulario-deletar-produto h1 {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 25px;
    padding:10px; 
}

.btn-deletar-c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.btn-nao-deletar {
    background-color: #48ce48;
    padding: 8px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.btn-deletar {
    background-color:  #ff0000;
    color: #ffffff;
    padding: 8px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}


/* MODAL AVISO */

.fundo-modal-aviso {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(2px);
    display: flex;
    animation: animacao;
    animation-duration: 1s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-aviso {
    background-color: #ffffff;
    position: relative;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.aviso-sucesso {
    background-color: #b9ffba;
    color: #009400;
    font-weight: 600;
    padding: 30px 60px;
    border-radius: 15px;
    border: 2px solid #22ff00;
      

}

.aviso-erro {
    background-color: #ffb3b3;
    color: #9f0000;
    font-weight: 600;
    padding: 30px 60px;
    border-radius: 15px;
    border: 2px solid #ff0000;
    
    
}

.btn-fechar-modal-aviso {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10px, -10px);
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 156, 156);
    border: 1px solid #ff0000;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* MODAL LUCRO E DESPESAS */


.fundo-modal-lucro {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(2px);
    display: none;
    animation: animacao;
    animation-duration: 1s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-lucro {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 15px;
}

.formulario-modal-lucro {
    width: 100%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.titulo-modal-lucro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background-color: #48ce48;
    border-radius: 10px;
}

.titulo-modal-lucro h1 {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 25px;
    padding:10px; 
}

.btn-fechar-modal-lucro {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10px, -10px);
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 156, 156);
    border: 1px solid #ff0000;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.informacoes-produto-modal-lucro {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.informacoes-nome-produto {
    width: 70%;
}

.informacoes-estoque-produto {
    width: 30%;
}

.informar-venda {
    width: 100%;
    background-color: #35AEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.informacoes-custo-modal-lucro {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.informacoes-valor-fornecedor {
    width: 40%;
}

.informacoes-valor-vendido {
    width: 40%;
}

.informacoes-quantidade-vendido {
    width: 20%;
}

.btn-registrar-venda-c {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.btn-registrar-venda {
    background-color: #48ce48;
    padding: 8px 20px;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.btn-cancelar-venda {
    background-color: #ff0000;
    padding: 8px 20px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}


.informacoes-principais-modal-lucro {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.informacoes-vendas {
    width: 30%;
}

.informacoes-despesas {
    width: 40%;
}

.informacoes-lucro {
    width: 30%;
}

.tipo-informacoes-produto-dados {
    font-size: 14px;
    margin-bottom: 2px;
}

.informacoes-produto-dados {
    background-color: #ccc;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}

.informacoes-produto-dados-input {
    width: 100%;
    padding: 2px;
}

.informacoes-produto-dados-quantidade-vendas {
    background-color: #ffb700;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacoes-produto-dados-custo {
    background-color: #ff0000;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacoes-produto-dados-valor-venda {
    background-color: #009dff;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacoes-produto-dados-lucro {
    background-color: #48ce48;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    margin: 10px 0px;
}