@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* MENU E PERFIL USUÁRIO */

.menu-administrador-c {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    padding: 20px;
}

.menu-administrador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1280' height='60' preserveAspectRatio='none' viewBox='0 0 1280 60'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1125%26quot%3b)' fill='none'%3e%3crect width='1280' height='60' x='0' y='0' fill='rgba(0%2c 156%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c363.013C66.593%2c368.22%2c110.86%2c295.15%2c162.288%2c252.525C207.425%2c215.114%2c254.405%2c180.478%2c282.387%2c128.962C311.734%2c74.934%2c325.593%2c14.777%2c324.819%2c-46.702C323.964%2c-114.602%2c319.929%2c-187.454%2c277.734%2c-240.658C234.973%2c-294.575%2c166.41%2c-328.037%2c97.773%2c-332.984C33.917%2c-337.586%2c-18.773%2c-290.137%2c-78.196%2c-266.31C-130.919%2c-245.17%2c-187.18%2c-236.016%2c-231.782%2c-200.841C-283.148%2c-160.331%2c-345.863%2c-115.726%2c-351.746%2c-50.573C-357.637%2c14.663%2c-299.457%2c66.262%2c-260.668%2c119.043C-228.859%2c162.326%2c-185.975%2c191.655%2c-146.758%2c228.36C-97.284%2c274.665%2c-67.557%2c357.731%2c0%2c363.013' fill='%23006fb5'%3e%3c/path%3e%3cpath d='M1280 324.881C1330.354 316.306 1376.141 300.784 1424.842 285.379 1492.7930000000001 263.885 1583.945 276.323 1622.667 216.491 1660.337 158.285 1623.638 79.282 1600.529 13.915 1580.564-42.56 1540.516-86.51499999999999 1499.961-130.598 1460.5819999999999-173.404 1424.282-225.127 1367.81-239.05200000000002 1311.985-252.81799999999998 1259.477-211.647 1202.498-203.949 1131.762-194.393 1050.762-230.75900000000001 993.271-188.453 935.451-145.905 915.0799999999999-64.252 915.106 7.536000000000001 915.131 75.365 960.56 131.538 993.408 190.882 1023.6700000000001 245.554 1042.952 314.305 1099.559 340.772 1155.386 366.874 1219.247 335.227 1280 324.881' fill='%234ab9ff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1125'%3e%3crect width='1280' height='60' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");*/
    border-radius: 15px;
    background-color: #009DFF;
}


.menu-opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menu-opcoes-opcao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.menu-opcoes-opcao-selecionada {
    border: 2px solid #ffb300;
}

.menu-opcoes-opcao svg {
    width: 20px;
}


.perfil-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.perfil-usuario-nome {
    font-weight: 600;
    color: #fff;
}

.perfil-usuario-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-usuario-img svg {
    width: 26px;
    height: 26px;
}


/* DASHBOARD */

.dashboard-c {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
}

.dashboard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px; 
}

.dashboard-titulo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.seta {
    transform: rotate(90deg);
}

.dashboard-resultados-c {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 20px;
    background-color: #ccc;
    border-radius: 20px;
}

.estatisticas-c-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
}

.estatisticas-c-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
}

.estatisticas-total-vendas {
    width: 50%;
    height: 80px;
    padding: 10px;
    background-color: #ffb700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}

.estatisticas-valor-total-compras {
    width: 50%;
    height: 80px;
    padding: 10px;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}

.estatisticas-valor-total-vendas {
    width: 50%;
    height: 80px;
    padding: 10px;
    background-color: #009DFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}

.estatisticas-valor-total-lucros {
    width: 50%;
    height: 80px;
    padding: 10px;
    background-color: #48ce48;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}

.estatisticas-titulo-resultado-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.estatisticas-titulo {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.estatisticas-resultado {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding: 5px;
}

.estatisticas-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.estatisticas-img svg {
    width: 70px;
    height: auto;
}






/* PAINEL ADMINISTRAÇÃO */

.titulo-painel-administracao {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 100%;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-titulo-painel-administracao {
    width: 30px;
    height: 30px;
}

.seta {
    transform: rotate(90deg);
}

.container-produtos-cadastrados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    padding: 20px;
}

.painel-administracao {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    background-color: #ccc;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    justify-content: center;
}

.painel-administracao-cadastro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.btn-cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #48ce48;
    padding: 10px 14px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;  
    margin-right: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    white-space: nowrap;
}

.btn-cadastrar-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #48ce48;
    padding: 10px 14px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;  
    margin-right: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pesquisar-produto-cadastrado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 550px;
    width: 100%;
}

.pesquisar-produto-cadastrado input {
    border: none;
    outline: none;
    width: 100%;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 10px;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.botao-de-pesquisar {
    background-color: #fff;
    border: none;
    cursor: pointer;
    background-color: #35AEFF;
    padding: 10px;
    border-radius: 0px 10px 10px 0px; 
}

.botao-de-pesquisar svg {
    vertical-align: middle;
}

.botao-apagar-pesquisa {
    display: none;
    background-color: #ff0000;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}

.botao-apagar-pesquisa svg {
    vertical-align: middle;
}

.atualizar-tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #35aeff;
    padding: 10px 14px 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.atualizar-tabela-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #35aeff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.atualizar-tabela p {  
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.titulo-tabela {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.tabela-produtos-cadastrados {
    background-color: #ccc;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
}

table {
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

p {
    margin: 0px;
}

.cabecalho-tabela {
    background-color: #35AEFF;
    border-radius: 50px;
    color: #fff;
}

.informacao-tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 8px;
    font-weight: 600;
}

.aviso-nenhum-produto-cadastrado {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    padding: 20px 0px;
}

.corpo-tabela:nth-child(even) {
    background-color:#cfe9ff;
}

.corpo-tabela:nth-child(even):hover {
    background-color: #0294f5;
}

tr:hover {
    background-color: #0294f5;
    color: #fff;
}

.dado-produto {
    padding: 8px;
    font-family: 'Ubuntu', sans-serif;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imagem-produto {
    max-width: 60px;
    max-height: 40px;
    width: auto;
    height: auto;
}

.dado-produto-centralizado {
    text-align: center;
}

.container-cadastrar {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.acoes-tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.visualizar-lucro-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #48ce48;
    padding: 5px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.visualizar-informacoes-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(145, 145, 145);
    padding: 5px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.editar-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb300;
    padding: 5px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.deletar-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    padding: 5px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



/* PAGINAÇÃO */

.numero-de-paginas {
    margin: 30px 0px 20px 0px;
}

.paginas-produtos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagina-produtos-atual {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0294f5;
    border-radius: 5px;
    color: #fff;
    width: 30px;
    height: 30px;
    margin: 0px 5px;;
}

.paginas-anterior-posterior {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 5px;
    color: #000000;
    width: 30px;
    height: 30px;
    text-decoration: none;
    margin: 0px 5px;
}

.mudar-pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 5px;
    color: #000000;
    width: 30px;
    height: 30px;
    text-decoration: none;
    margin: 0px 5px;
}
