* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-produtos-cadastrados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painel-administracao {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.btn-cadastrar {
    display: inline-block;
    background-color: rgb(0, 255, 0);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;  
    margin-right: 10px;
}


.atualizar-tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #ccc;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
}

.atualizar-tabela p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
}





table {
    background-color: white;
}

p {
    margin: 0px;
}

.cabecalho-tabela {
    background-color: #94c0ff;
}

.informacao-tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.corpo-tabela:nth-child(even) {
    background-color:#77b0ff6e;
}

.dado-produto {
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.dado-produto-centralizado {
    text-align: center;
}




.container-cadastrar {
    display: flex;
    justify-content: center;
    padding: 20px;
}



.acoes-tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.editar-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd889;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ffaa00;
}

.deletar-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9696;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid red;
}