@media (min-width: 481px) and (max-width: 601px) {

    .btn-fechar-modal-visualizar-produto {
        transform: translate(8px, -12px);
        width: 35px;
        height: 35px;
        border-radius: 10px;
    }
    
    .modal-visualizar-produto {
        max-width: 601px;
        padding: 25px 20px;
        border-radius: 15px;
        margin: 10px;
    }
    
    .titulo-modal-visualizar-produto h1 {
        font-size: 18px;
    }
    
    .informacoes-produtos-tipo-dado h2 {
        font-size: 16px;
    }
    
    .informacoes-produtos-tipo-dado svg {
        width: 20px;
        height: 20px;
    }
    
    .informacoes-produtos-dado {
        padding: 2px 5px;
        font-size: 14px;
    }
    
    .informacoes-produtos-dado-img {
        height: 77.5%;
    }
    
    .informacoes-produtos-dado-img img {
        max-width: 70px;
        max-height: 70px;
    }
    
    .informacoes-produtos-dado-descricao {
        height: 70px;
        font-size: 14px;
        padding: 5px;
    }

}


@media (min-width: 431px) and (max-width: 481px) {

    .btn-fechar-modal-visualizar-produto {
        transform: translate(8px, -12px);
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
    
    .modal-visualizar-produto {
        max-width: 481px;
        padding: 20px 15px;
        border-radius: 15px;
        margin: 10px;
    }
    
    .titulo-modal-visualizar-produto h1 {
        font-size: 17px;
    }
    
    .informacoes-produtos-tipo-dado h2 {
        font-size: 15px;
    }
    
    .informacoes-produtos-tipo-dado svg {
        width: 20px;
        height: 20px;
    }
    
    .informacoes-produtos-dado {
        padding: 2px 5px;
        font-size: 13px;
    }
    
    .informacoes-produtos-dado-img {
        height: 77%;
    }
    
    .informacoes-produtos-dado-img img {
        max-width: 60px;
        max-height: 60px;
    }
    
    .informacoes-produtos-dado-descricao {
        height: 60px;
        font-size: 13px;
        padding: 5px;
    }

}


@media (min-width: 376px) and (max-width: 431px) {

    .btn-fechar-modal-visualizar-produto {
        transform: translate(8px, -12px);
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
    
    .modal-visualizar-produto {
        max-width: 431px;
        padding: 20px 15px;
        border-radius: 15px;
        margin: 10px;
    }
    
    .titulo-modal-visualizar-produto h1 {
        font-size: 16px;
    }
    
    .informacoes-produtos-tipo-dado h2 {
        font-size: 15px;
    }
    
    .informacoes-produtos-tipo-dado svg {
        width: 18px;
        height: 18px;
    }
    
    .informacoes-produtos-dado {
        padding: 2px 5px;
        font-size: 13px;
    }
    
    .informacoes-produtos-dado-img {
        height: 77%;
    }
    
    .informacoes-produtos-dado-img img {
        max-width: 50px;
        max-height: 50px;
    }
    
    .informacoes-produtos-dado-descricao {
        height: 60px;
        font-size: 13px;
        padding: 5px;
    }

}


@media (min-width: 320px) and (max-width: 376px) {
    
    .btn-fechar-modal-visualizar-produto {
        transform: translate(8px, -12px);
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
    
    .modal-visualizar-produto {
        max-width: 376px;
        padding: 20px 10px;
        border-radius: 15px;
        margin: 10px;
    }
    
    .titulo-modal-visualizar-produto h1 {
        font-size: 16px;
    }
    
    .informacoes-produtos-tipo-dado h2 {
        font-size: 12px;
    }
    
    .informacoes-produtos-tipo-dado svg {
        width: 18px;
        height: 18px;
    }
    
    .informacoes-produtos-dado {
        padding: 2px 5px;
        font-size: 12px;
    }
    
    .informacoes-produtos-dado-img {
        height: 78%;
    }
    
    .informacoes-produtos-dado-img img {
        max-width: 50px;
        max-height: 50px;
    }
    
    .informacoes-produtos-dado-descricao {
        height: 60px;
        font-size: 12px;
        padding: 5px;
    }
    
}